
@font-face {
    font-family: LatoThin;
    src: url(Lato-Thin.ttf);
}
@font-face {
    font-family: LatoHairline;
    src: url(Lato-Hairline.ttf);
}
body {

   font-family: LatoThin;
     background-color: #ffffff;

}

.btn-sm, .btn-group-sm>.btn {

border-radius: 0px;
}
