<div class="row">

    <a href="#/posts">
        <h2>
            <i class="fa fa-arrow-circle-o-left"></i> <small>Back to Posts</small>
        </h2>
    </a>

</div>
<div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-heading">
                <h1>Start a New Project with Bower</h1>
            </div>
            <a target="_blank" href="http://bower.io/">
                <img src="blog/Content/bowerlogo.png" alt="Bower" class="img-responsive center-block" />
            </a>
            <p>
Ok, I was watching a Pluralsight on <a target="_blank" href="http://pluralsight.com/training/courses/TableOfContents?courseName=building-angularjs-nodejs-apps-mean&highlight=joe-eames_building-angularjs-nodejs-apps-mean-m3*5#building-angularjs-nodejs-apps-mean-m3">Building AngularJS and Node.js Apps with the MEAN Stack</a> the other day by Joe Eames and he started using Bower and I was like, “That looks cool I wonder what that is”. Boy was I in for a treat.  Here is a quick overview on starting a new project with Bower.
            </p>

            <p>
                First you need to have Node.js installed, once you have that installed pull up the console and run <kbd>npm install bower -g</kbd> to install Bower globally. Now you have bower installed.
            </p>

<img src="blog/Content/bowerInstall.png" alt="Bower Install" class="img-responsive center-block" />
            <p>
                Once you have it installed create your folder where you want to install your bower packages. Then navigate in the console to that folder then do a <kbd>bower init</kbd> to create the bower.json file which is where bower will keep up with the packages installed.
            </p>

<img src="blog/Content/bowerInit.png" alt="Bower Init" class="img-responsive center-block" />
            <p>
                Now if you do not want to use the default install location for bower packages (“bower_components”) you can create a <kbd>.bowerrc</kbd> file and specify the directory you want the files installed to.

            </p>
            <img src="blog/Content/bowerrc.png" alt="Bower Init" class="img-responsive center-block" />

            <p>
                Now you are ready to install the packages you want in your project. I usually want AngularJS, Angular-Routing, Bootstrap, and maybe jqueryUI. So go to the terminal and run <kbd>bower install angular angular-routing bootstrap jqueryui</kbd>. Wait a little bit for it to download the files for you. And now its time to get started on the project!!!
            </p>
            <img src="blog/Content/bowerpackages.png" alt="Bower Install" class="img-responsive center-block" />


        </div>
    </div>
</div>
<div class="row">

    <a href="#/posts">
        <h2>
            <i class="fa fa-arrow-circle-o-left"></i> <small>Back to Posts</small>
        </h2>
    </a>

</div>
