<div class="panel panel-default">

            <div class="panel-body">
                <div class="panel-heading">
                    <h1>
                        Mailbox - OS X Mail Client
                    </h1>
                </div>
                <br />
                <img src="blog/Content/mailboxNew.png" class="img-responsive center-block" />
                
                <br />
                <p>
                    I have been using Mailbox for iOS for while now and it has become the only mail client I use on my iPhone except for the Microsoft one I use for exchange work emails. I signed up for the Mailbox OS X beta a while back and had given up hope on getting to use it, until today. I received my invite to use the beta version of Mailbox for OS X, which is being done with a very cool “Mailbox Betacoin” program that after you download and use your coin you get a few more to share in the mail. 
                </p>
                <p>
					Up until now in what seems to be the constant search for a decent mail client for mac OS X I have used AirMail for OS X as my mail client and I have really liked it. But, I hope to move to using Mailbox after seeing how clean and well designed the interface is. Here is the mail screen. There are still a few little issues with the software being in beta but overall I am very happy with the look and feel. Something for consideration for someone looking to move to mailbox at the moment I only see support for google mail and iCloud mail, which will be a disapointment for those hotmail users out there.
					<br/>
					<a href="http://www.mailboxapp.com/" target="_blank">http://www.mailboxapp.com/</a>
                </p>
                <img src="blog/Content/mailbox.png" class="img-responsive center-block" />
            </div>
        </div>
    </div>