
<div>

        <div class="list-group">
            <a href="#/posts/bower" class="list-group-item">
                <h4 class="list-group-item-heading">
                    Start a New Project with Bower - 9/15/2014
                </h4>
                <p class="list-group-item-text">
                    Ok, I was watching a Pluralsight on Building AngularJS and Node.js Apps with the MEAN Stack the other day by Joe Eames 
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/atom" class="list-group-item">
                <h4 class="list-group-item-heading">
                    <small><s>Notepad++</s> <s>sublimetext</s></small> ATOM - 9/10/2014
                </h4>
                <p class="list-group-item-text">
                    Why not, I am now using a new text editor. It is called Atom and it is cool.
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/aspnet-running-for-free" class="list-group-item">
                <h4 class="list-group-item-heading">
                    How I got my Website Running for Free - 9/4/2014
                </h4>
                <p class="list-group-item-text">
					I was thinking to my self a while back that I do not like the cost benefit ratio I was getting from my hosting solution that I was ...
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/mac-mail-client" class="list-group-item">
                <h4 class="list-group-item-heading">
                    Mailbox - OS X Mail Client - 8/19/2014
                </h4>
                <p class="list-group-item-text">
                    I have been using Mailbox for iOS for while now and it has become the only mail client I use on my iPhone except for the Microsoft one ...
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/tech-podcasts" class="list-group-item">
                <h4 class="list-group-item-heading">
                    My Tech Podcast Recomendations (work in progress) - 8/11/2014
                </h4>
                <p class="list-group-item-text">
                    I like listening to podcasts on the way to and from work. Just to give it a shoutout right now I am using the...
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/favorite-xamarin-studio-features" class="list-group-item">
                <h4 class="list-group-item-heading">
                    My Favorite Xamarin Studio Features - 8/9/2014 <strong class="text-success">(Award Winning, kinda)</strong>
                </h4>
                <p class="list-group-item-text">
                    Over the past few months I have started using Xamarin Studio to start building few iOS apps that I have been putting off in an effort not to have to use ...
                </p>
            </a>
        </div>
</div>
