<div>
	
        <div class="list-group">
            <a href="#/posts/aspnet-running-for-free" class="list-group-item">
                <h4 class="list-group-item-heading">
                    How I got my Website Running for Free - 9/4/2014
                </h4>
                <p class="list-group-item-text">
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/mac-mail-client" class="list-group-item">
                <h4 class="list-group-item-heading">
                    Mailbox - OS X Mail Client - 8/19/2014
                </h4>
                <p class="list-group-item-text">
                    My new OS X mail client.
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/tech-podcasts" class="list-group-item">
                <h4 class="list-group-item-heading">
                    My Tech Podcast Recomendations (work in progress) - 8/11/2014
                </h4>
                <p class="list-group-item-text">
                    Here are some of my goto tech podcasts...
                </p>
            </a>
        </div>

        <div class="list-group">
            <a href="#/posts/favorite-xamarin-studio-features" class="list-group-item">
                <h4 class="list-group-item-heading">
                    My Favorite Xamarin Studio Features - 8/9/2014 <strong class="text-success">(Award Winning, kinda)</strong>
                </h4>
                <p class="list-group-item-text">
                    Over the past few months I have started using Xamarin Studio ...
                </p>
            </a>
        </div>
</div>