
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="panel-heading">
                    <h1>
                        My Tech Podcast Recomendations (work in progress)
                    </h1>
                </div>
                <br />
                <p>
                    I like listening to podcasts on the way to and from work. Just to give it a shoutout right
                    now I am using the <a href="https://overcast.fm/" target="_blank">Overcast</a> app for iPhone that came out recently and I am loving it. 
                    Here are some of my goto tech podcasts.
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://dotnetrocks.com">.NET Rocks</a></h4>
                            Dot NET Rocks seems to me to be the grand poobah of tech podcasts specifically in the .net dev circle.
                            Carl and Richard are great at having interesting guests on the show to talk about all sorts of things.
                            The geek out shows which focus on things outside of the .net development world are all worth listening to
                            and are great fun.
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://hanselminutes.com/">Hanselminutes</a></h4>
                            I like <a href="http://www.hanselman.com/" target="_blank">Scott Hanselman</a> and enjoy hearing his thoughts on different things.
                            His podcast, Hanselminutes, has great list of guests that he interviews about lots of different topics.

                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://herdingcode.com/" target="_blank">Herding Code</a></h4>
                            This podcast does not have has many episodes as some of the others but the ones that do come out
                            are deffinatly worth a listen. K. Scott Allen from <a href="http://odetocode.com">odetocode.com</a>
                            is a cohost on this show and he is one of my favorie authors on pluralsight.
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://blog.stackoverflow.com/category/podcasts/" target="_blank">StackExchange Podcast</a></h4>
                            As a pretty avid StackOverflow user I enjoy listening to this podcast when it comes out. The hosts are a goofy group that if
                            for nothing else are worth listening to for the comedic value.
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://twit.tv/" target="_blank">TWIT Pocdast Familly</a></h4>
                            I lumped these under one heading but my favorites are as follows (kind of in order...):
                            <ul>
                                <li>
                                    TWIT (This Week in Tech)
                                </li>
                                <li>
                                    Windows Weekly
                                </li>
                                <li>
                                    MacBreak Weekly
                                </li>
                                <li>
                                    Tech News Today (TNT)
                                </li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div>
        </div>

