---
layout: default
hideheader: yes
---


<link rel="stylesheet" href="lib/ionicons/css/ionicons.min.css"/>

<div class=""></div>

<div class="jumbotron text-center" >
    <h1 class="text-center">
        <a href="http://pdsullivan.com">
            <img src="https://www.gravatar.com/avatar/6c31ab5c683dcbc45085e6716d5ff176?s=128&amp;d=identicon&amp;r=PG" alt="" width="128" height="128" class="img-circle">
        </a>
        <br/>
        Not a Blog
    </h1>
    <i class="fa fa-pencil" ></i> & <i class="fa fa-code" ></i> by <a class="page-link"  href="http://www.pdsullivan.com">Patrick Sullivan</a>
</div>


<div class="wrapper home">

    <!-- This loops through the paginated posts -->
    <ul class="post-list">
        {% for post in paginator.posts %}
        <div class="row post-item">
            <div class="media">
                {% if post.SocialImage %}
                <div class="col-xs-2 hidden-xs">
                    <div class="media-left">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <img class="media-object" src="{{post.SocialImage}}" alt="{{ post.title }}">
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="">
                </div>
                {% endif %}
                <div class="media-body">
                    <h1 class="media-heading">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <small class="post-meta">
                    Posted on {{ post.date | date: "%b %-d, %Y" }} by <a href="http://pdsullivan.com" >Patrick Sullivan</a>
                    </small>
                    </h1>
                </div>
            </div>
        </div>
        <hr/>

        <!--<li class="post-item">-->
            <!--<h1>-->
                <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->
                <!--<small class="post-meta">-->
                    <!--Posted on {{ post.date | date: "%b %-d, %Y" }} by <a href="http://pdsullivan.com" target="_blank">Patrick Sullivan</a>-->
                <!--</small>-->
                <!--&lt;!&ndash;{{ post.excerpt }}&ndash;&gt;-->
            <!--</h1>-->
        <!--</li>-->
        <!--<hr/>-->
        {% endfor %}
    </ul>

    <nav>
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous"><a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
            {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
            {% endif %}

            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>


            {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path }}">Older <span aria-hidden="true">&rarr;</span></a></li>

            {% else %}
            <li class="next disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>

            {% endif %}

        </ul>
    </nav>

    <!--&lt;!&ndash; Pagination links &ndash;&gt;-->
    <!--<div class="pagination">-->

        <!--{% if paginator.previous_page %}-->
        <!--<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>-->
        <!--{% else %}-->
        <!--<span class="previous">Previous</span>-->
        <!--{% endif %}-->

        <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->

        <!--{% if paginator.next_page %}-->
        <!--<a href="{{ paginator.next_page_path }}" class="next">Next</a>-->
        <!--{% else %}-->
        <!--<span class="next ">Next</span>-->
        <!--{% endif %}-->
    <!--</div>-->



<a href="{{ "/feed.xml" | prepend: site.baseurl }}"  class="lead btn btn-default ">
    <i class="fa fa-rss"></i> Subscribe via RSS
</a>
</div>
