

<div class="container">
<div class="row">
    <p>Share:
    <a  target="_blank" class="btn btn-twitter" href="http://www.twitter.com/share?url={{site.url}}{{page.url}}"><i class="fa fa-twitter"></i></a>
    <a target="_blank" class="btn btn-googleplus" href="https://plus.google.com/share?url={{site.url}}{{page.url}}"><i class="fa fa-google-plus"></i></a>
    <!--<a class="btn btn-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title='{{page.title}}'"><i class="fa fa-linkedin"></i></a>-->

        <a target="_blank" class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"><i class="fa fa-facebook"></i></a>
    </p>
</div>
</div>